body
{
    margin: 0;
    padding: 0;
    
    background-size: cover;
    font-family: sans-serif; 
    
    background-size: 100%;    
-moz-background-size: 100%;  
  -o-background-size: 100%;   
 -webkit-background-size: 100%;  
   -khtml-background-size: 100%; 
}

header{

    margin-left: 0%;
    background:#7DCEA0;
    font-family:cursive ;
    font-size: 100%;
    border: 1px solid;
    font-size: 330%;
    text-align: center;
   
     
}

.inicio{
    width: 180px;
    float: left;
    
}
.container{
    width: 800px;
    height: 1200px;
    background-color: #FFF;
    border: solid 2px #999;
    margin: auto;
    font-family: sans-serif;
    padding: 20px;
    
}

h1{
    float: left;
    margin-left: 30%;
}

table{
    float: left;
    margin-left: 16%;
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 72%;   
    
}


tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}

footer{

    margin-top: 10%;

    top:5%;
    background: #85C1E9 ;
    border: 1px solid; 
}